.so-widget-sow-headline-default-2788c805b6ee .sow-headline-container h1.sow-headline {
  text-align: left;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-2788c805b6ee .sow-headline-container h3.sow-sub-headline {
  text-align: left;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-2788c805b6ee .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-headline-default-2788c805b6ee .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px none #EEEEEE;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-headline-default-2788c805b6ee .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-2788c805b6ee .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}